<h1 class="mb-4">Funcionalidades</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/dashboard">Agendamentos</a>
  </li>
  <li class="list-group-item">
    <a href="/config">Configurações</a>
  </li>
  <li class="list-group-item"><a href="/chat">Chat</a></li>
  <li class="list-group-item"><a href="/transcribe">Transcrever Áudio</a></li>
  <li class="list-group-item"><a href="/describe">Descrever Imagem</a></li>
  <li class="list-group-item"><a href="/calories">Estimativa de Calorias</a></li>
  <li class="list-group-item"><a href="/linkedin">Análise de LinkedIn</a></li>
  <li class="list-group-item"><a href="/summarize">Resumir Texto</a></li>
  <li class="list-group-item"><a href="/video">Transcrição de Vídeo</a></li>
  <li class="list-group-item"><a href="/resources">Recursos do Sistema</a></li>
</ul>
